{% extends 'flatpages/default.html' %}

{% load censor_filter %}
{% load custom_tags %}

{% block title %}
<tr><h3> Всего News = {{ news|length }}</h3></tr>
{% endblock title %}

{% block content %}
    <h1>...Все публикации...</h1>
    <h3>Сегодня: {{ time_now|date:'d m Y' }}</h3>

    <form action="" method="get">
        {{ filterset.form.as_p }}

    <a href="{% url 'news_search'  %}">Поиск публикации:</a>
    </form>

    <hr>

    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.add_post %}
    <a href="{% url 'create_news'  %}">Добавить публикацию</a>
    {% endif %}
    <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовки:   </td>
               <td>Тексты:  </td>
               <td>Дата публикации:</td>
               <td>Рейтинг</td>
           </tr>

                {# Условие получается составным. #}
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}

          {% for new in news %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ new.title|censor }}</td>
               <td>{{ new.text|truncatechars:20|censor  }}</td>
               <td>{{ new.dateCreation|date:'d m Y' }}</td>
               <td>{{new.rating }}</td>
           </tr>

                <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.news.change_post %}
                    <a href="{% url 'news_edit' pk=new.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'news_delete' new.id %}">Удалить</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новых постов пока нет(</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}

