{% extends 'flatpages/default.html' %}
{% load censor_filter %}
{% block title %}
Новости
{% endblock title %}

{% block content %}
   <h1>Поиск по:</h1>

   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if news_search %}
       <table>
           <tr>
              <td>Заголовки:   </td>
               <td>Тексты:  </td>
               <td>Дата публикации:</td>
               <td>Вид публикации:</td>
               <td>Категория публикации:</td>
               <td>Автор публикации:</td>
               <td>Рейтинг</td>>


           </tr>

           {% for new in news_search %}
           <tr>
              <td>{{ new.title|censor }}</td>
               <td>{{ new.text|truncatechars:20|censor  }}</td>
               <td>..{{ new.dateCreation|date:'...  d m Y' }}</td>
               <td>.....{{new.get_categoryType_display}}</td>
               < <td>
                        {% for cat in new.postCategory.all%}
                            {{ cat.name }}
                        {% endfor %}
                    </td>
               <td>...{{new.author.authorUser}}</td>
                <td>....{{new.rating }}</td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>таких публикаций нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}